body {
  margin: 0;
}

.header {
  text-align: center;
  color: #272829;
}

.search-wrapper {
  text-align: center;
}

.search-bar {
  width: 80%;
  padding: 10px 20px;
}

.flag-img {
  width: 80px;
}

.fav-btn {
  margin-left: 3px !important;
}

.img-detail {
  width: 50%;
}

.country-link {
  color: inherit;
  text-decoration: none;
}

.country-link:hover {
  color: #bdbdbd;
}
